.scroll-disabled {
	overflow: hidden;
}

.cmd {
	display: inline-block;
	border: 0;
	padding: 0;
	width: var(--cmd-width, 1em);
	height: var(--cmd-height, 2.5em);

	background: transparent;
	color: var(--vscode-foreground, currentcolor);
	font: 2em var(--vscode-editor-font-family, monospace);

	vertical-align: middle;
	overflow: hidden;
	transform-origin: 50% 50%;
	user-select: none;
}

.cmd:hover {
	z-index: 1;
	background: var(--vscode-list-hoverBackground, transparent);
	color: var(--vscode-list-warningForeground, gold);
	transform: scale(125%);
}

.cmd-hidden {
	visibility: hidden;
}

.cmd-auto-sized {
	width: auto;
	height: auto;
}

.subgrid {
	display: grid;
	grid-template-columns: repeat(var(--subgrid-width, 3), 1fr);
}

.grid {
	display: flex;
	flex-flow: row wrap;
}

dialog {
	top: 10%;
	bottom: unset;
	max-width: unset;
	max-height: unset;
	border: none;
	padding: 0.5em;
	background: var(--vscode-menu-background, white);
	color: var(--vscode-menu-foreground, black);
	user-select: none;
}

dialog::backdrop {
	background: transparent;
}

main {
	transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (prefers-reduced-motion) {
	main {
		transition: none;
	}
}

dialog[open] + main {
	opacity: 20%;
}

dialog > p {
	margin: 0;
}
