.cmd {
	display: inline-block;
	border: 0;
	padding: 0;
	width: var(--cmd-width, 1em);
	height: var(--cmd-height, 2.5em);

	background: transparent;
	color: var(--vscode-foreground, currentcolor);
	font: 2em var(--vscode-editor-font-family, monospace);

	vertical-align: middle;
	overflow: hidden;
	transform-origin: 50% 50%;
	user-select: none;
}

.cmd:hover {
	z-index: 1;
	background: var(--vscode-list-hoverBackground, transparent);
	color: var(--vscode-list-warningForeground, gold);
	transform: scale(125%);
}

.cmd-hidden {
	visibility: hidden;
}

.cmd-auto-sized {
	width: auto;
	height: auto;
}

.subgrid {
	display: grid;
	grid-template-columns: repeat(var(--subgrid-width, 3), 1fr);
}

.grid {
	display: flex;
	flex-flow: row wrap;
}
